<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://farifam.com/universities" version="0.1.0" viewmodes="maximized">
    <access origin="*"></access>
    <tizen:application id="U64c5f3SrV.universities" package="U64c5f3SrV" required_version="2.4"/>
    <author href="http://www.farifam.com" email="sabitzhabit@gmail.com">Farifam</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="college-graduation.png"/>
    <name>University List</name>
    <tizen:privilege name="http://tizen.org/privilege/fullscreen"/>
    <tizen:profile name="mobile"/>
</widget>
